@model WebBack.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Create Book";
}

<div class="text-center bg-info text-light py-4 mb-5">
    <h1 class="display-4">Create</h1>
    <h1 class="display-6">Create a new book</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ISBN" class="control-label"></label>
                        <input asp-for="ISBN" class="form-control" />
                        <span asp-validation-for="ISBN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Pictures" class="control-label"></label>
                        <input asp-for="Pictures" class="form-control" />
                        <span asp-validation-for="Pictures" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookAuthorId" class="control-label"></label>
                        <select asp-for="BookAuthorId" class="form-control" asp-items="ViewBag.BookAuthorId">
                            <option value="">--- Select BookAuthor ---</option>
                        </select>
                        <span asp-validation-for="BookAuthorId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookStoreId" class="control-label"></label>
                        <select asp-for="BookStoreId" class="form-control" asp-items="ViewBag.BookStoreId">
                            <option value="">--- Select BookStore ---</option>
                        </select>
                        <span asp-validation-for="BookStoreId" class="text-danger"></span>
                    </div>
                    @* <div class="form-group">
                        <label asp-for="Categories" class="control-label"></label>
                        <select asp-for="Categories" class="form-control" asp-items="ViewBag.CategoriesId" multiple >
                            <option value="">--- Select Categorie(s) ---</option>
                        </select> *@
                        @* <select asp-for="BookCategories" asp-items="ViewBag.CategoriesId" class="form-control selectpicker" multiple data-live-search="true">
                            <option value="">--- Select Categorie(s) ---</option>
                        </select> *@
                        @* <span asp-validation-for="Categories" class="text-danger"></span>
                    </div> *@
                </div>
                <div class="col-md-12">
                    <div class="form-group text-right">
                        <a asp-action="Index" class="btn btn-secondary mb-1"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;Back to List</a>
                        <button type="submit" class="btn btn-primary mb-1"><i class="far fa-save"></i>&nbsp;Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}